{% extends 'base.html' %}
{% block content %}

  <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Contact</h1>
      <p class="lead text-muted">Go to Home, and then Peter Ravnborg, to find my contact information and my articles. Alternatively, visit my linkedin below. </p>
    </div>
    <p>
        <a href="https://www.linkedin.com/in/peter-ravnborg-676a5b13a/" class="btn btn-md btn-outline-dark">LinkedIn</a>
    </p>
  </div>
  <br><br><br><br><br><br><br><br><br><br> <br>
  </section>



{% endblock %}
