{% extends 'base.html' %}
{% block content %}

<div class="container">
  <img src="https://lh3.googleusercontent.com/SExVM54167DyUf8VUufUIbVUTWOeVO_NIWhW-wm6gRTOwLRbUfvU2CTKU_vTmOr1lj81ufvt6e0ZqEOwRd8JB9klbX62xVBvgtY6Ubi307KeQ5ToWHA81Dz84-QuJbJdXcnPqO-zmg=w2400" class="d-block w-100" alt="...">

</div>

  <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h2 style = "letter-spacing: 1.7px;">CONTACT</h2>
      <p class="text-muted">Go to Home, and then Peter Ravnborg, to find my contact information and my articles. Alternatively, visit my linkedin below. </p>
    </div>
    <p>
        <a href="https://www.linkedin.com/in/peter-ravnborg-676a5b13a/" class="btn btn-md btn-outline-dark">LinkedIn</a>
    </p>
  </div>
  <br><br><br><br><br><br><br><br><br><br> <br>
  </section>



{% endblock %}
