{% extends 'base.html' %}
{% block content %}

<section class="py-5 text-center container">
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1></h1>
    <h2><p>{{current_user.username}}</p></h2>
    <p>
      <img align = 'center' src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}" alt="">
    </p>
  </div>
    <form method= 'POST' action='' enctype='multipart/form-data'>
      <h5>Write a post</h5>
      {{form.hidden_tag()}}
      <div align = "left" class="form-group">

      </div>
      <br>
      <div align = "left" class="form-group">
        {{form.title.label(class = 'form-group')}}
        {{form.title(class="form-control")}}
      </div>
      <br>
      <div align = "left" class="form-group">
        {{form.text.label(class = 'form-group')}}
        {{form.text(class="form-control")}}
      </div>
      <br>
      <div class='form-group'>
      {{form.submit(class = 'btn btn-md btn-outline-dark')}}
      </div>
    </form>
    {{ ckeditor.load() }}
 {{ ckeditor.config(custom_config="uiColor: ''", name='text') }}


  </div>
</section>

{% endblock %}
