{% extends 'base.html' %}
{% block content %}



<link rel="stylesheet" href="static\index2.css">

<div class="container">




<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://lh3.googleusercontent.com/kF0INXBwNymjHlTtFI4spCvOIeV6OO-8PBl_kp7R4J4IXfpXHEn_Vp7lku0WAxa9ERW2mp9mac9hfLyJsSOi9La-NVKPLeuA0LbjrEtOf4-Dim-_96ND7JdzPvL7Efh6zzX1-EHoRA=w2400" class="d-block w-100" alt="...">
      <div class="carousel-caption gradient-background text-start">
        <h1 style = "letter-spacing: 1.7px;">ABOUT</h1>
        <p>Learn more about this page</p>
        <p><a class="btn btn-md btn-outline-dark" href="{{ url_for('core.info')}}">Read more</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://lh3.googleusercontent.com/4kmQDMSxMwBQhqGgSEXbHxqqYry_uEO77AK6-jvw3BKPWXCe9Bz4bMAFLHcIS94pOXic1NyuLpK6qabhDbKBjM8vH0MzD_OfWTJXnPeASIpnRoZnbLWOI35oRE-KrHTBlOSxAuNPNg=w2400" class="d-block w-100" alt="...">
      <div class="carousel-caption text">
        <h1 style = "letter-spacing: 1.7px;">CONTACT</h1>
        <p>Get in contact with its creator</p>
        <p><a class="btn btn-md btn-outline-dark" href="{{ url_for('core.contact')}}">Read more</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/rnijMtwU2aACek7sF6yPE5Wc5XGg-XR19t0_k5e3tulxr9r1nSKVkaU5iaawU-l9nuO7ARiqC3MAGWsLr5F9Fcosra8teolmvboxic8X-R3sZ8jA4nX-SwYtyJb5wr5qmAexGnVQpg=w2400" class="d-block w-100" alt="...">
      <div class="carousel-caption text-end">
        <h1 style = "letter-spacing: 1.7px;">CONTRIBUTE</h1>
        <p>Start writing blog posts today</p>
        <p><a class="btn btn-md btn-outline-dark" href="{{url_for('users.login')}}">Read more</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container">
  <br>
  <br>
  <br>
  <h3 class="text-center" style = "letter-spacing: 1.7px;">BLOGPOSTS</h3>
  <br>
  <h2 class="border-bottom"></h2>
  <br>
<div class="grid_1">





{% for post in blog_posts.items %}
  <div class="album py-5 light">

    <div class="container">


      <!-- NOTE:    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->

          <div class="col">
            <div class="card-group">
            <div class="card shadow-sm">
              <a href="  {{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">
              <img align='center' src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" height = "100%" width="100%">
              </a>
              <div class="card-body">
                <h5 style = "letter-spacing: 1.7px;">{{ post.title|upper }}</h5> <br>
                <p><a class = 'text-muted' href="{{ url_for('users.user_posts', username=post.author.username) }}">By: {{ post.author.username }}</a> </p> <br>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-dark" href="  {{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">View article</a>
                  </div>
                  <small class="text-muted">{{post.date.strftime('%d, %B, %Y')}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    <!-- NOTE:  </div> -->
    {% endfor %}
    </div>
</div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if blog_posts.page == page_num %}
            <li class ='page-item disabled'>
              <a class='page-link' href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
            </li>
            {% else %}
            <li class ='page-item'>
              <a class='page-link' href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

{% endblock %}
