{% extends 'base.html' %}
{% block content %}

  <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">About</h1>
      <p class="lead text-muted">This website is built in an attempt to showcase my skills. I have used a mix of python, html and css to create a platform, where i can express my knowledge about tech.</p>
      <p>
        <a href="{{url_for('users.register')}}" class="btn btn-md btn-outline-dark">Get started</a>
        <a href="{{url_for('users.login')}}" class="btn btn-md btn-outline-dark">Login</a>
      </p>
    </div>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


{% endblock %}
