{% extends 'base.html' %}
{% block content %}
<br>

  <body class="text-center">

  <main class="form-register">
  <form method= 'POST'>
    <img class="mb-4" src="static/Logo/logo.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Register below</h1>
    {{form.hidden_tag()}}
    <div align = "left" class="form-group">
      {{form.email.label}} {{form.email(class="form-control")}}
    </div>
    <br>
    <div align = "left" class="form-group">
      {{form.username.label}} {{form.username(class="form-control")}}
    </div>
    <br>
    <div align = "left" class="form-group">
      {{form.password.label}} {{form.password(class="form-control")}}
    </div>
    <br>
    <div align = "left" class="form-group">
      {{form.pass_confirm.label}} {{form.pass_confirm(class="form-control")}}
    </div>
    <br>
    <div class='form-group'>
    {{form.submit(class = 'btn btn-primary btn-lg')}}
    </div>
  </form>
  </main>


{% endblock %}

{% for mess in get_flashed_messages() %}
  <div class="alert alert-warning alert dismissible fade show" role= 'alert'>
    <p>{{mess}}</p>
    <button type="button" class='btn-close' data-bs-dismiss='alert' aroa-label='Close'></button>
    </div>
    {% endfor %}
